<section id="equipo">
	<ul>
					<li><p class="etiqueta" >Número de Serie:</p><p><%=@e.nserie %></p></li>
					<li><p class="etiqueta" >Marca: </p><p><%=@e.marca %></p>
					    <p class="etiqueta" >Modelo: </p><p><%=@e.modelo %></p>
							<p class="etiqueta" >Tipo: </p><p><%=@e.tipo.texto %></p></li>
	</ul>
</section>
<section id="persona">
		<ul>
						<li><span>Cliente:</<span><p><%= @persona.nombre_completo  %></li>
		</ul>
</section>
